{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:react/recommended",
    "standard-with-typescript",
    "prettier"
  ],
  "overrides": [],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "arrow-parens": ["error", "as-needed"],
    "import/no-extraneous-dependencies": "off",
    "jsx-quotes": ["error", "prefer-single"],
    "react/button-has-type": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/react-in-jsx-scope": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "react/require-default-props": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/indent": "off",
    "multiline-ternary": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "react/jsx-props-no-spreading": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "@typescript-eslint/space-before-function-paren": [
      "error",
      { "anonymous": "always", "named": "never", "asyncArrow": "always" }
    ]
  }
}
