{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:react/recommended",
    "standard-with-typescript"
  ],
  "overrides": [],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "@typescript-eslint/semi": ["warn", "always"],
    "@typescript-eslint/space-before-function-paren": ["warn", "never"],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "arrow-parens": ["warn", "as-needed"],
    "import/no-extraneous-dependencies": ["warn", { "devDependencies": true }],
    "jsx-quotes": ["warn", "prefer-single"],
    "react/button-has-type": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/react-in-jsx-scope": "off"
  }
}
