.time-series-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.submit-button {
  padding: 10px;
  margin: 10px 20px;
  background-color: #cbcfd0;
  border-radius: 4px;
}

.submit-button:hover {
  background-color: #b8bfc0;
  cursor: pointer;
}
